.nav-container{
    background-color: rgb(29, 29, 29);
    border-top: 1px solid #ffffff44;

    .nav-active{
        height: 300px;
    }
}


.mob-nav-container{
    right: 100%;
    animation: navOpen .5s ease-in-out 1 forwards;
}

@keyframes navOpen{
    from{
        right: -100%;
    }
    to{
        right: 0%;
    }
}
